from typing import Protocol, Optional, TypeVar, List, Generic, no_type_check
from dataclasses import dataclass

A = TypeVar('A')
B = TypeVar('B')

@dataclass
class Symbol(Generic[A, B, C]):
    # Either a list of at least one address or None if not defined for the region.
    addresses: A
    # Like addresses but memory-absolute
    absolute_addresses: A
    # None for most functions. Data fields should generally have a length defined.
    length: B
    description: str

    @no_type_check
    @property
    def address(self) -> int:
        """First / main address. Raises an IndexError/TypeError if no address is defined."""
        return self.addresses[0]

    @no_type_check
    @property
    def absolute_address(self) -> int:
        """First / main address (absolute). Raises an IndexError/TypeError if no address is defined."""
        return self.absolute_addresses[0]


T = TypeVar('T')
U = TypeVar('U')
L = TypeVar('L')
L2 = TypeVar('L2')


class SectionProtocol(Protocol[T, U, L, L2]):
    name: str
    description: str
    loadaddress: L
    length: L2
    functions: T
    data: U

{% for binary in symbols %}
class {{ binary.class_name }}FunctionsProtocol(Protocol):
    {% if not binary.functions | length %}
    pass
    {% endif %}
    {% for fn in binary.functions %}
    {{ fn.name }}: Symbol[ \
        {{ fn.addresses | has_all_else_optional("List[int]") }}, \
        {{ fn.lengths | has_all_else_optional("int") }}, \
    ]
    {% endfor %}

class {{ binary.class_name }}DataProtocol(Protocol):
    {% if not binary.data | length %}
    pass
    {% endif %}
    {% for dt in binary.data %}
    {{ dt.name }}: Symbol[ \
        {{ dt.addresses | has_all_else_optional("List[int]") }}, \
        {{ dt.lengths | has_all_else_optional("int") }}, \
    ]
    {% endfor %}

{{ binary.class_name }}Protocol = SectionProtocol[ \
    {{ binary.class_name }}FunctionsProtocol, \
    {{ binary.class_name }}DataProtocol, \
    {{ binary.loadaddresses | has_all_else_optional("int") }}, \
]
{% endfor %}

class AllSymbolsProtocol(Protocol):
    {% if not symbols | length %}
    pass
    {% endif %}
    {% for binary in symbols %}
    {{ binary.name }}: {{ binary.class_name }}Protocol
    {% endfor %}
