from .protocol import Symbol
import warnings

class _Deprecated:
    def __init__(self, oldname, symbol):
        self.oldname = oldname
        self.symbol = symbol

    def __get__(self, _obj, _objtype=None):
        warnings.warn(f"symbol {self.oldname} has been renamed to {self.symbol.name}", category=DeprecationWarning, stacklevel=2)
        return self.symbol

{% for binary in binaries %}
class {{ region.class_prefix() }}{{ binary.class_name }}Functions:
    {% if not binary.functions | length %}
    pass
    {% endif %}
    {% for fn in binary.functions %}
    {{ fn.name }} = Symbol(
        {{ fn.addresses[region] | make_relative(binary.loadaddresses[region]) | as_hex }},
        {{ fn.addresses[region] | as_hex }},
        {{ fn.lengths[region] | as_hex }},
        "{{ fn.name | escape_py }}",
        "{{ fn.description | escape_py }}",
        None
    )
    {% endfor %}
    {% for dep_fn in binary.deprecated_functions %}
    {{ dep_fn.oldname }} = _Deprecated("{{ dep_fn.oldname }}", {{ dep_fn.sym.name }})
    {% endfor %}

class {{ region.class_prefix() }}{{ binary.class_name }}Data:
    {% if not binary.data | length %}
    pass
    {% endif %}
    {% for dt in binary.data %}
    {{ dt.name }} = Symbol(
        {{ dt.addresses[region] | make_relative(binary.loadaddresses[region]) | as_hex }},
        {{ dt.addresses[region] | as_hex }},
        {{ dt.lengths[region] | as_hex }},
        "{{ dt.name | escape_py }}",
        "{{ dt.description | escape_py }}",
        "{{ dt.type | escape_py }}"
    )
    {% endfor %}
    {% for dep_dt in binary.deprecated_data %}
    {{ dep_dt.oldname }} = _Deprecated("{{ dep_dt.oldname }}", {{ dep_dt.sym.name }})
    {% endfor %}

class {{ region.class_prefix() }}{{ binary.class_name }}Section:
    name = "{{ binary.name }}"
    description = "{{ binary.description | escape_py }}"
    loadaddress = {{ binary.loadaddresses[region] | as_hex }}
    length = {{ binary.lengths[region] | as_hex }}
    functions = {{ region.class_prefix() }}{{ binary.class_name }}Functions
    data = {{ region.class_prefix() }}{{ binary.class_name }}Data
{% endfor %}

class {{ region.class_prefix() }}Sections:
    {% if not binaries | length %}
    pass
    {% endif %}
    {% for binary in binaries %}
    {{ binary.name }} = {{ region.class_prefix() }}{{ binary.class_name }}Section
    {% endfor %}
